.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.displayFlexRowSpc_BTN{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.displayFlexColSpc_BTN{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.displayFlexCol{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.farmCards{
  width: 100%;
}
.shopCards{
  width: 100%;
}
.recipeCards{
  width: 100%;
}


